.button {
  font-family: 'Manrope', sans-serif;

  &-container {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
