.header {
  padding: 18px 0;
  position: relative;

  &__wrapper {
    align-items: center;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f4f4f6;
    bottom: 0;
  }

  &__menu {
    display: flex;
  }

  &__button {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: #0071b8;
    padding: 10px;

    &-icon {
      margin-left: 4px;
    }
  }

  &__switcher {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    padding: 10px;
    align-items: center;

    &-flag {
      margin-right: 4px;
    }
    &-arrow {
      margin-left: 1px;
    }
  }
}
